block page
	-var page = "contacts";

extends ../blocks/layout/layout

//- block scripts
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
	script(src="assets/js/offices.js")

block content
	.wrapper
		ol.breadcrumb
			li.breadcrumb__item
				a(href="#") Главная
			li.breadcrumb__item
				a(href="#") О&nbsp;компании
			li.breadcrumb__item.active
				span Органы управления
		.section
			h1.section__title Органы управления
			.b-content
				.grid
					.grid__col-6.grid__col-p-12
						.b-content__subtitle Совет директоров
						ul.b-list-group
							li.b-list-group__item
								.b-list-group__name Председатель Совета директоров
								p.b-list-group__text Патрушев Дмитрий Николаевич
							li.b-list-group__item
								.b-list-group__name Заместитель Председателя Совета директоров
								.b-list-group__text Жачкина Ирина Владимировна
							li.b-list-group__item
								.b-list-group__name Члены Совета директоров
								p.b-list-group__text Барабанов Андрей Николаевич
								p.b-list-group__text Суворова Ольга Сергеевна
								p.b-list-group__text Лут Оксана Николаевна
								p.b-list-group__text Сергеев Дмитрий Геннадьевич
								p.b-list-group__text Стырин Константин Юрьевич
					.grid__col-6.grid__col-p-12
						.b-content__subtitle Руководство
						ul.b-list-group
							li.b-list-group__item
								.b-list-group__name Генеральный директор
								p.b-list-group__text Простатин Сергей Иванович
							li.b-list-group__item
								.b-list-group__name Первый заместитель генерального директора
								p.b-list-group__text Калинина Светлана Викторовна
							li.b-list-group__item
								.b-list-group__name Заместитель генерального директора – Директор департамента развития корпоративного бизнеса
								p.b-list-group__text Вологдина Евгения Михайловна
							li.b-list-group__item
								.b-list-group__name Заместитель генерального директора
								p.b-list-group__text Гусаров Андрей Борисович
				.b-content__hr
