block page
	-var page = "documents";

extends ../blocks/layout/layout

block content
	.wrapper
		ol.breadcrumb
			li.breadcrumb__item
				a(href="#") Главная
			li.breadcrumb__item
				a(href="#") О&nbsp;компании
			li.breadcrumb__item
				a(href="documents.html") Документы
			li.breadcrumb__item.active
				span Правоустанавливающие документы
		.section
			h1.section__title Правоустанавливающие документы
			.b-content
				.b-content__inner
					ul.b-list.b-list_hovered
						li.b-list__item.is-open
							a(href="#") Правоустанавливающие документы
							ul.b-list.b-list_docs
								li.b-list__item
									a(href="#") Устав 8&nbsp;редакция
								li.b-list__item
									a(href="#") Лицензия на&nbsp;гостайну
								li.b-list__item
									a(href="#") Свидетельство ИНН
								li.b-list__item
									a(href="#") Свидетельство о&nbsp;внесении в&nbsp;ЕГРЮЛ
								li.b-list__item
									a(href="#") Свидетельство о&nbsp;регистрации
								li.b-list__item
									a(href="#") Устав 7&nbsp;редакция
						li.b-list__item
							a(href="#") Перечень видов страхования
						li.b-list__item
							a(href="#") Лицензии
						li.b-list__item
							a(href="#") Правила страхования
						li.b-list__item.is-open
							a(href="#") Отчетность
							ul.b-list.b-list_info
								li.b-list__item.is-open
									a(href="#") 2010 год
									ul.b-list.b-list_docs
										li.b-list__item
											a(href="#") Аудиторское заключение 12м2010
										li.b-list__item
											a(href="#") 4ф12м2010
										li.b-list__item
											a(href="#") 3ф12м2010
										li.b-list__item
											a(href="#") 2ф12м2010
										li.b-list__item
											a(href="#") 1ф12м2010
								li.b-list__item
									a(href="#") 2011 год
								li.b-list__item
									a(href="#") 2012 год
								li.b-list__item
									a(href="#") 2013 год
								li.b-list__item
									a(href="#") 2014 год
								li.b-list__item
									a(href="#") 2015 год
								li.b-list__item
									a(href="#") 2016 год
						li.b-list__item
							a(href="#") Рейтинг
						li.b-list__item
							a(href="#") Реестры страховых агентов и&nbsp;страховых брокеров
						li.b-list__item
							a(href="#") Свидетельства
						li.b-list__item
							a(href="#") Политика ЗАО СК&nbsp;&laquo;РСХБ-Страхование&raquo; в&nbsp;отношении обработки персональных данных
				.b-content__hr
