block page
	-var page = "documents";

extends ../blocks/layout/layout

block content
	.wrapper
		ol.breadcrumb
			li.breadcrumb__item
				a(href="#") Главная
			li.breadcrumb__item
				a(href="#") О&nbsp;компании
			li.breadcrumb__item.active
				span Документы
		.section
			h1.section__title Документы
			.b-content
				.b-content__inner
					ul.b-list.b-list_hovered
						li.b-list__item
							a(href="#") Правоустанавливающие документы
						li.b-list__item
							a(href="#") Перечень видов страхования
						li.b-list__item
							a(href="#") Лицензии
						li.b-list__item
							a(href="#") Правила страхования
						li.b-list__item
							a(href="#") Отчетность
						li.b-list__item
							a(href="#") Рейтинг
						li.b-list__item
							a(href="#") Реестры страховых агентов и&nbsp;страховых брокеров
						li.b-list__item
							a(href="#") Свидетельства
						li.b-list__item
							a(href="#") Политика ЗАО СК&nbsp;&laquo;РСХБ-Страхование&raquo; в&nbsp;отношении обработки персональных данных
				.b-content__hr
