block page
	-var page = "index";

block header
block footer

extends ../blocks/layout/layout

block content
	.page-content
		h1 Список страниц
		ul.list-unstyled
			li
				a(href="main.html") Главная
			li
				a(href="page.html") Инвестиционное страхование жизни
			li
				a(href="contacts.html") Контакты
			li
				a(href="offices.html") Наши офисы
			li
				a(href="controls.html") Органы управления
