block page
	-var page = "documents";

extends ../blocks/layout/layout

block content
	.wrapper
		ol.breadcrumb
			li.breadcrumb__item
				a(href="#") Главная
			li.breadcrumb__item
				a(href="#") О&nbsp;компании
			li.breadcrumb__item.active
				span Новости
		.section
			h1.section__title Новости
			.b-content
				.b-content__inner
					.b-news-list
						each value, ind in NEWS.newslist
							.b-news-list__item
								.b-news-list__item-date!= value.date
								a.b-news-list__item-link(href=value.link)!= value.title

				.b-content__hr
