.floating-nav {
    background-color: rgba(#ececec, 0.5);
    width: 140px;
    padding-top: 32px;
    padding-bottom: 36px;
    box-sizing: border-box;
    position: fixed;
    right: 0;
    top: 50%;
    transition: transform 300ms ease 0s;
    transform: translateY(-50%);
    z-index: 5;

    @media screen and (max-width: 1440px) {
        background-color: rgba(#fff, 0.9);
        box-shadow: 0 0 3px 1px rgba(#000, 0.1);
        width: 160px;
        padding: 18px 0 22px 10px;
        transform: translate(100%, -50%);
    }

    .app-sidebar-off & {
        transform: translate(0, -50%);
    }

    &__toggler {
        background-color: rgba(#ececec, 0.5);
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        width: 42px;
        height: 36px;
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;
        display: none;
        position: absolute;
        left: -42px;
        top: 0;

        @media screen and (max-width: 1440px) {
            box-shadow: -2px 0 3px 1px rgba(#000, 0.1);
            background-color: rgba(#fff, 0.9);
            display: block;
        }

        &:after {
            background-color: rgba(#fff, 0.4);
            width: 1px;
            height: 100%;
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: -1px;
        }
    }

    &__toggler-icon {
        fill: #101010;
        width: 24px;
        height: 24px;
        display: block;
        position: absolute;
        left: 9px;
        top: 50%;
        transform: translate(0, -50%) rotate(180deg);

        .app-sidebar-off & {
            transform: translateY(-50%);
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__list-item {
        width: 60px;
        margin: 0 auto 14px;

        @media screen and (max-width: 1440px) {
            width: 100%;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.floating-nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
    text-align: center;
    transition: all 0.3s ease 0s;

    @media screen and (max-width: 1440px) {
        flex-direction: row;
        text-align: left;
    }

    &:hover {
        color: #1f7d35;
    }

    &:hover &__icon {
        border-color: #1f7d35;
    }

    &:hover &__img {
        fill: #1f7d35;
    }

    &__wrap-icon {
        @media screen and (max-width: 1440px) {
            flex-basis: 70px;
        }
    }

    &__icon {
        border-radius: 50%;
        border: 1px solid #000;
        width: 56px;
        height: 56px;
        line-height: 50px;
        transition: all 0.3s ease 0s;
        text-align: center;
    }

    &__img {
        width: 36px;
        height: 36px;
        fill: #000;
        display: inline-block;
        vertical-align: middle;
    }

    &__text {
        font-size: 12px;
        font-family: $font-proximanova-semibold;
        padding-top: 7px;
        padding-bottom: 7px;

        @media screen and (max-width: 1440px) {
            width: 70px;
        }
    }
}