input[type="radio"],
input[type="checkbox"] {
    margin: 2px 0 0;
    line-height: normal;
}

input[type="file"] {
    display: block;
}

input[type="range"] {
    display: block;
    width: 100%;
}

select[multiple],
select[size] {
    height: auto;
}

@mixin form-control-focus($color: $white) {
    $color-rgba: rgba(red($color), green($color), blue($color), 0.6);
    &:focus {
        border-color: $color-rgba;
        outline: 0 none;
        box-shadow: inset 0 1px 1px rgba(49, 36, 36, 0.075), 0 0 8px $color-rgba;
    }
}

.form-control {
    display: block;
    width: 100%;
    height: rem(50);
    padding: rem(10) rem(40) rem(10) rem(22);
    font-size: rem(24);
    line-height: rem(26);
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #479628;
    border-radius: 5px;
    box-sizing: border-box;
    @include placeholder(#959595);

    &::-ms-expand {
        border: 0 none;
        background-color: transparent;
    }
    &[disabled],
    &[readonly] {
        background-color: lighten(#959595, 10%);
        opacity: 1;
    }

    @include form-control-focus(lighten(#479628, 10%));

    @media #{$phone} {
        font-size: rem(16);
        padding-left: rem(16);
    }

}

textarea.form-control {
    height: auto;
    resize: vertical;
    min-height: 250px;
}
